svg {
    justify-self: center;
    align-self: center;
    padding-left: 3%;
    width: 2.5%;
    height: 2.5%;
}
.headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headingContainer img {
    justify-self: center;
    align-self: center;
    padding-left: 3%;
    width: 2.5%;
    height: 2.5%;
}
